.body{
    font-family: sans-serif;
    margin: 0;
}
.header{
    display: flex;
    min-height: 70px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 20px;

}
nav a{
    font-weight: 600px;
    padding-right: 10px;
}
nav a:hover{
  color: black;  
}
@media (max-whidt:800px){
header{
    flex-direction:column;
}
}